<launch>

  <arg name="config" default="$(find sim_sample_perception_ros_tool)/launch/params/abstract_object_sensor_parameters.yaml" />

  <node pkg="sim_sample_perception_ros_tool" type="abstract_object_sensor" name="abstract_object_sensor" output="screen">
    <rosparam command="load" file="$(arg config)"/>
  </node>

</launch>
